<div class="header">

  <div id="logo_div">
  	<%=image_tag("logo.png", alt: "logo", :class => "logo", :id => "logo" )%>
  </div>

  <span id="user_login">
    <% if session[:auth] %>
      Logado como: <%= User.find(session[:auth]['user_id']).name %>
      <%= link_to "Sair", sessions_destroy_path, :class => 'logout' %>
    <% else %>
      <%= link_to "Login", sessions_new_path, :class => 'logout' %>
    <% end %>
  </span>

</div>
